<h1>Mis prestamos</h1>

<table class="table table-dark table-striped table-hover">
	<thead>
		<tr>
			<th>estado</th>
			<th>libro</th>
      <th>Foto</th>
			<th>fecha limite</th>
			<th>Fecha de entrega</th>
		</tr>
	</thead>
	<tbody>
		<% @borrowed_books.each do |b_book| %>
		  <tr>
		  	<td><%= b_book.status %></td>
		  	<td><%= b_book.book&.title_description %></td>
        <td>
          <%= image_tag b_book.book&.get_image, style: 'width: 50px;' %>
        </td>
		  	<td><%= b_book.limit_date %></td>
		  	<td><%= b_book.return_date %></td>
		  </tr>
		<% end %>
	</tbody>
</table>